name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install chromium

      - name: Run Playwright tests
        env:
          BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
          POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
          API_URL: ${{ vars.API_URL }}
          E2E_HOST: ${{ vars.E2E_HOST }}
          NEXT_PUBLIC_API_URL: ${{ vars.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_BASE_URL: ${{ vars.NEXT_PUBLIC_BASE_URL }}
          ZITADEL_API_URL: ${{ vars.ZITADEL_API_URL }}
        run: pnpm run test

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: test-results/
          retention-days: 7