name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install chromium

      - name: Create env file
        run: |
          touch .env
          echo E2E_USERNAME=${{ env.E2E_USERNAME }} >> .env
          echo E2E_PASSWORD=${{ secrets.E2E_PASSWORD }} >> .env
          echo E2E_HOST=${{ env.E2E_HOST }} >> .env
          echo BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET }} >> .env
          echo NEXT_PUBLIC_BASE_URL=${{ env.NEXT_PUBLIC_BASE_URL }} >> .env
          echo ZITADEL_API_URL=${{ env.ZITADEL_API_URL }} >> .env
          echo CLIENT_ID=${{ secrets.CLIENT_ID }} >> .env
          echo POSTGRES_URL=${{ secrets.POSTGRES_URL }} >> .env
          cat .env

      - name: Run Playwright tests
        run: pnpm run test

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: test-results/
          retention-days: 7