# File: .github/workflows/e2e.yml
name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.NODE_VERSION }}
      - name: Install dependencies
        run: npm i
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Start mock server (background)
        run: npm run mock --silent &

      - name: Start dev:mock (background)
        run: npm run dev:mock --silent &

      - name: Wait for both servers to be ready
        run: npx wait-on http://localhost:4011 http://localhost:3000 --timeout 120000

      - name: Run Playwright tests
        env:
          PLAYWRIGHT_REUSE_EXISTING: 'true'
          CI: 'true'
        run: npm run e2e

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7