name: Lint & Knip

on:
  push:
    branches: [main, master]
  pull_request:
jobs:
  lint_typecheck_knip_prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: pnpm

      - name: Restore Next.js cache
        uses: actions/cache@v5
        with:
          path: .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Typecheck
        run: pnpm run typecheck

      - name: ESLint
        run: pnpm run lint

      - name: Prettier (check)
        run: pnpm run format:check

      - name: Knip
        run: pnpm dlx knip
